In [35]:
import pandas as pd
pd.set_option('display.max_columns', None)

# Load the SraRunTable.txt file with the correct delimiter
sra_run_table = pd.read_csv('SraRunTable.txt', sep=',')
# Extract relevant columns
metadata = sra_run_table[['Run', 'GEO_Accession (exp)', 'treatment']]

metadata
# Rename columns to match the required format
#metadata.columns = ['SRR_ID', 'GSM_ID', 'Timepoint']

# Save to CSV
#metadata.to_csv('metadata.csv', index=False)

,Run,GEO_Accession (exp),treatment
0,SRR5739552,GSM2678508,WT
1,SRR5739553,GSM2678509,WT
2,SRR5739554,GSM2678510,WT
3,SRR5739555,GSM2678511,WT
4,SRR5739556,GSM2678512,WT
...,...,...,...
475,SRR5740027,GSM2678983,BJ fibroblasts 16 days post induced viral expr...
476,SRR5740028,GSM2678984,BJ fibroblasts 16 days post induced viral expr...
477,SRR5740029,GSM2678985,BJ fibroblasts 16 days post induced viral expr...
478,SRR5740030,GSM2678986,BJ fibroblasts 16 days post induced viral expr...
479,SRR5740031,GSM2678987,BJ fibroblasts 16 days post induced viral expr...

In [30]:
import pandas as pd

# Load the SraRunTable.txt file with the correct delimiter
sra_run_table = pd.read_csv('SraRunTable.txt', sep=',')

# Extract relevant columns
metadata = sra_run_table[['Run', 'treatment', 'tra-1-60']]

# Generate the sample_name column
def generate_sample_name(row, id):
    treatment_words = row['treatment'].split()[:3]
    sample_name = '_'.join(treatment_words) + f'_{id}'
    if pd.notna(row['tra-1-60']) and row['tra-1-60'].strip() != '':
        sample_name += f"_{row['tra-1-60']}"
    return sample_name

# Add the sample_name column
sample_names = []
for idx, row in metadata.iterrows():
    id = (idx % 96) + 1
    sample_name = generate_sample_name(row, id)
    sample_names.append(sample_name)

metadata['sample_name'] = sample_names

### CREATE HERE a new dataframe with the following columns: sample, fastq_1, fastq_2.  sample will be equal to sample_name, fastq_1 will be equal to {Run}_1.fastq.gz and fastq_2 will be equal to {Run}_2.fastq.gz

#metadata.to_csv('metadata_with_sample_names.csv', index=False)

/tmp/ipykernel_127128/172926178.py:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  metadata['sample_name'] = sample_names

,Run,treatment,tra-1-60,sample_name
0,SRR5739552,WT,NaN,WT_1
1,SRR5739553,WT,NaN,WT_2
2,SRR5739554,WT,NaN,WT_3
3,SRR5739555,WT,NaN,WT_4
4,SRR5739556,WT,NaN,WT_5
...,...,...,...,...
475,SRR5740027,BJ fibroblasts 16 days post induced viral expr...,Negative,BJ_fibroblasts_16_92_Negative
476,SRR5740028,BJ fibroblasts 16 days post induced viral expr...,Negative,BJ_fibroblasts_16_93_Negative
477,SRR5740029,BJ fibroblasts 16 days post induced viral expr...,Negative,BJ_fibroblasts_16_94_Negative
478,SRR5740030,BJ fibroblasts 16 days post induced viral expr...,Negative,BJ_fibroblasts_16_95_Negative
479,SRR5740031,BJ fibroblasts 16 days post induced viral expr...,Negative,BJ_fibroblasts_16_96_Negative

# This is the one that works for GSE100344

In [34]:
import pandas as pd

# Load the SraRunTable.txt file with the correct delimiter
sra_run_table = pd.read_csv('SraRunTable.txt', sep=',')

# Extract relevant columns
metadata = sra_run_table[['Run', 'treatment', 'tra-1-60']]

# Generate the sample_name column
def generate_sample_name(row, id):
    treatment_words = row['treatment'].split()[:3]
    sample_name = '_'.join(treatment_words) + f'_{id}'
    if pd.notna(row['tra-1-60']) and row['tra-1-60'].strip() != '':
        sample_name += f"_{row['tra-1-60']}"
    return sample_name

# Add the sample_name column
sample_names = []
for idx, row in metadata.iterrows():
    id = (idx % 96) + 1
    sample_name = generate_sample_name(row, id)
    sample_names.append(sample_name)

metadata['sample_name'] = sample_names

# Create the new dataframe with columns: sample, fastq_1, fastq_2
new_df = pd.DataFrame({
    'sample': metadata['sample_name'],
    'fastq_1': metadata['Run'] + '_1.fastq.gz',
    'fastq_2': metadata['Run'] + '_2.fastq.gz'
})

new_df.to_csv('samplesheet.csv', index=False)

/tmp/ipykernel_127128/1849591029.py:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  metadata['sample_name'] = sample_names